<html lang="en">
  {{ partials "head.html" }}
  <head>
    <title>Home - Logan Thorneloe</title>
  </head>
  <body>
    <header>
      <h1>logan thorneloe</h1>
    </header>
    <p>
      Short bio.
    </p>
    <hr>
    <h2>
      Section1
    </h2>
    <ul>
      <li>
        <a class="post-link" href="">example</a> element1
      </li>
      <li>example element2</li>
    </ul>
    <h2>
      Section2
    </h2>
    <ul>
      <li>example element1</li>
      <li>example element2</li>
    </ul>
  </body>
  {{ partials "footer.html" }}
</html>